* {
  font-family: Roboto;
  margin: 0;
}

body {
  height: 6000px;
  background-color: rgb(31, 41, 55);
}

.header {
  background-image: linear-gradient(#1f2937 2%, rgb(31, 41, 55,0));
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  grid-template-columns:  1fr 1fr;
  position: fixed;
  backdrop-filter: blur(20px);

}

.header-left { 
  /* background-color: lightcoral;   */
  font-size: 24px;
  display: flex;
  width: 100%;
}

.hleft-logo {
  align-self: center;
  padding-left: 200px;
  justify-content: left;
  display: flex;
  color: #F9FAF8;
  font-weight:600;
}

.header-right {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.header-link {
  font-size: 18px;
  margin-left: 15px;
  text-decoration: none !important;
  color: #E5E7EB;
}
/* Start of Display Section */

.display-section {
  background-color: #1f2937;
  margin-top: 70px;
  /* border: solid;
  border-width: 1px; */
  grid-template-columns: 1fr 1fr;
  display: grid;
  height: 500px;
  max-height: 1000px;
  
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  padding-left: 200px;
  max-width: 400px;

}

.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
  padding-left: 200px;
  max-width: 450px;
}

.main-signup {
  color: #E5E7EB;
  padding-left: 200px;
  margin-top: 10px;
}

.signup1 {
  width: 120px;
  height: 30px;
  font-size: 18px;
  background-color: #3882F6;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.display-left {
  width: 1fr;
  align-content: center;
}

.display-right {
  width: 1fr;
  align-content: center;
  
}

.image {
  width: 550px;
  height: 250px;
  
}
/* Start of info section */
.info-section {
  height: 350px;
  background-color: #F9FAF8;
  place-items: center;
  padding: 40px;
  
}

.info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 780px;
  vertical-align: top;
  margin-top: 30px;
  justify-items: space-between;
  
}

.info-sub-container{
  max-width: 160px;
  margin-left: 30px;
}

.info-text {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  justify-content: center;
  vertical-align: top;
  display: flex;

}

.info-subtext {
  font-size: 14px;
  text-align: center;
  
}

.info-image {
  width: 150px;
  height: 150px;
  border: solid;
  border-color: #3882F6;
  border-radius: 10px;
  display: flex;
  justify-self: center;
}

.quote-section {
  height: 300px;
  background-color: rgb(198, 251, 255);
  border: solid;
  border-width: 1px;
}

.button-section {
  height: 250px;
  background-color: rgb(255, 209, 241);
  border: solid;
  border-width: 1px;
}

.footer {
  height: 100px;
  background-color: grey;
}